html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #030207;
}
#movie-page {
  min-width: 80vw;
  min-height: 100vh;
  margin-top: 20px;
}
.heading {
  color: #f9fafe;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
  background: rgba( 3, 2, 7, 0.9);
  backdrop-filter: blur(8px);
}
.heading .search-bar {
  display: flex;
  flex-direction: row;
  gap: 20px;
  
}
.heading input {
  min-width: 500px;
  background: transparent;
  border: 1px solid #f9fafe;
  border-radius: 20px;
  padding-left: 20px;
  color: #f9fafe;
  font-size: 17px;
}
.heading button {
  background: #ff2f28;
  color: #f9fafe;
  border-radius: 20px;
}
.results-grid .results {
  list-style: none;
  padding: 0;
  margin: 16px 0 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 26px;
}
