html, body {
  margin: 0;
  padding: 0;
  background: #fef4e0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#list-container {
  background: #f8efc6;
  min-width: 800px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border-radius: 20px;
}
#list-container .title {
  display: flex;
  flex-direction: row;
  margin: 20px auto;
}
#list-container .title img {
  width: 140px;
  height: 140px;
}
#list-container h1 {
  background: #9eaa5a;
  color: #fbfcda;
  border-radius: 50px;
  padding: 10px 20px;
  border: 8px solid #818a3d;
}
.add-container {
  background: #e5ba7d;
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-radius: 50px;
  gap: 10px;
  border: 7px solid #c2a064;
}
.add-container input {
  background: transparent;
  border: none;
  margin-left: 5px;
}
.add-container button {
  background: transparent;
  border: 3px solid #c2a064;
}