html, body {
  height: 100%;
  margin: 0;
  background: #e6e6c7;
}

@keyframes cloud {
  50% {
  	transform: translateY(-12px);
  }
}
#root {
  min-height: 100%;
}

.page {
  min-height: 100vh;
  padding: 40px 16px;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  text-align: center;
  background: #fef6e1;
  width: 100%;
  max-width: 800px;
  border: 12px solid #fae4d7;
  border-radius: 16px;
  padding-bottom: 90px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card h3 {
  color: #e9a488;
  font-size: 150px;
}
.btn-row {
  color: #f7fbda;
  display: flex;
  flex-direction: row;
  gap: 60px;
}
#increase {
  border: 6px #a4b771 solid;
  background: #acbf79;
  font-size: 30px;
  border-radius: 20px;
  padding: 10px 15px;
  color: #feede0;
  font-family: "Playwrite DE Grund", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
#decrease {
  border: 6px #ce9989 solid;
  background: #eaa596;
  font-size: 30px;
  border-radius: 20px;
  padding: 10px 15px;
  color: #feede0;
  font-family: "Playwrite DE Grund", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}